# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 65f7b5bd1c2bd35e04014d3710197d95154ed0c4a63a2ed4181c6ca7f79175b2d06ad4a8f1c8625c555c78112206c18c590fd15605252953e1922d97f444e095

test:
  secret_key_base: 8fbef300cf4e62dfdd77b8c9314890b61c61d285d5c411f2b75718306df31be9786b189d8f9fbda015ec854d636313f87f24a35fdc222b09aa8adf2cbefedf86

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
